h1 {
    color: blue;
}

/* p {
    color: brown */
}

H4 {
    background-color: blue;
}

body {
    background: url(photos/background.png);
    text-align: center;
}

img.fit-picture {
    text-align: center;
}

.button {
	background-color:#44c767;
	border-radius:41px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:11px;
	font-weight:bold;
	padding:11px 17px;
	text-decoration:none;
	text-shadow:1px -4px 3px #2f6627;
}
.button:hover {
	background-color:transparent;
}
.button:active {
	position:relative;
	top:1px;
}

p {
    width: 200px;
    height: 30px;
    background: #4CAF50;
    transition: width 2s;
}

p:hover {
width: 500px;
}

.icon {
    height: 40px;
}
